/*EDUCATION SECTION*/
.achievements{
    /* background-color: #171717; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
  }
  .achievement, .skills{
    padding:40px 50px;
  }
  .skills{
    min-width: 150px;
    margin-right: 10px;
  }
  .skills ul > li{
    margin-bottom: 30px;
  }
  
  .achievement-desc{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    font-size: 1rem;
  }
  .achievement-desc h2{
    margin-bottom: 10px;
  }
  .achievement h1{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dashed;
  }
  .achievement-desc div:nth-child(1){
    min-width: 200px;
    margin-right: 40px;
  }
  .achievement-desc div:nth-child(1) ul{
    margin-bottom: 20px;
  }
  .achievement-desc div:nth-child(2){
    min-width: 200px;
  }
  .education ul li h4,
  .awards ul li h4{
    font-size: 1rem;
  }
  h4 span:nth-child(2){
    font-size: 1.1rem;
  }
  h4 span:nth-child(1){
    color: #f2f2f24f;
  }

  @media screen and (max-width: 800px) {
    .achievements, .achievement-desc{
      flex-direction: column-reverse;
    }
    .awards{
      margin-bottom: 20px;
    }
  }