  
.container-experience{
  display: flex;
  justify-content: center;
}
.experience{
  margin: 40px;
  border-left: 2px solid #086f01;
}
.timeline-container{
  margin: 20px ;
}
.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  position: absolute;
  left: -27px;
  top: 10px;
  width: 14px;
  height: 14px;
  background: #086f01;
  border-radius: 50%;
}


  @media screen and (max-width: 825px){

    .experience{
      margin-left: 25px;
    }
    .upper-footer{
      flex-direction: column;
    }
}