.wrapper{
  max-width: 100%;
  overflow: hidden;
}
.container{
  display: flex;
  flex-direction: row;
  margin: 40px;
}
.container:nth-child(even){
  flex-direction: row-reverse;
}
.container div h2{
  border-bottom:1px dashed;
  padding: 5px 5px 5px 0;
  margin-bottom: 10px;
}
.container div{
  margin: 20px;
}
.container div:nth-child(2){
  margin: 20px;
  margin-top: 40px;
}
.container div img,
.container div video{
  width: 100%;
  min-width: 150px;
  height: auto;
  display: block;
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0 0 20px #086f01;
}

.container div video, 
.container div img{
  transition: transform 0.8s ease;
}
.container div video:hover, 
.container div img:hover{
  transform: scale(1.1);
}
/*convince section*/
.convince-section{
  display: flex;
  flex-direction: column;
  background-color: #171717;
  height: 200px;
  text-align: center;
  justify-content: center;
}
.convince-section div h1, p{
  margin-bottom: 20px;
  
}
.convince-section div button{
  padding: 10px;
  color: white;
  background-color: #171717;
  border-radius: 10px;
  cursor: pointer;
  border: 0 none;
  box-shadow:  0 0 8px #086f01;
  min-width: 20rem;
}
.convince-section div button:hover{
  animation: borderAnimation 4s infinite ease-in-out;
}
/*
down -2px 2px 5px
left -2px -2px 5px
up 2px -2px 5px
right 2px 2px 5px
*/
@keyframes borderAnimation {
  0%{box-shadow:  -2px 2px 8px #086f01;}
  25%{box-shadow:  -2px -2px 8px #086f01;}
  50%{box-shadow:  2px -2px 8px #086f01;}
  75%{box-shadow:  2px 2px 8px #086f01;}
  100%{box-shadow:  -2px 2px 8px #086f01;}
}
/***/
.container div{
  width: 50%;
}
/***/

@media screen and (max-width: 800px) {
  
  .container{
    flex-wrap:wrap-reverse;
    text-align: center;
    justify-content: center;
    margin: 0;
  }
  nav ul{
    display: none;
  }
  .burger{
    display:contents;
  }
  
  .contact-log{
    flex-direction: column;
    margin: 20px;
  }
  .side-container{
    margin: 20px 20px 40px 20px;
  }
  .form-section{
    margin: 10px;
    min-width: 10rem;
    min-height: 20rem;
  }
  .upper-footer{
    flex-direction: column;
  }
}